
@font-face {
    font-family: 'playlistscript';
    src: url('./fonts/playlist/fontsfree-net-playlistscript-webfont.woff') format('woff'),
         url('./fonts/playlist/fontsfree-net-playlistscript-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'jully_juliaregular';
    src: url('./fonts/sambats/sambats-515yl-webfont.woff2') format('woff2'),
         url('./fonts/sambats/sambats-515yl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root {

    /**
     * colors
     */
  
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --salmon-pink-dark: hsl(353, 100%, 58%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white:white;

}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img,
ion-icon,
button,
a {
  display: block;
}

span {
  display: inline-block;
}

html { 
    overflow-x: hidden;
    height: 100vh;
    overscroll-behavior: contain;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

input::placeholder {
  font: inherit;
}

body {
    overflow-x: hidden; 
    height: 100%;
  font-family: Poppins;
  background: rgba(255, 255, 255, 1); 
  min-width:315px;
}

/**
   * scrollbar style
   */

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: white;
  border-left: 1px solid ghostwhite;
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid white;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}


.categorie-container::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

.categorie-container::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--salmon-pink);
}
 
/*-----------------------------------*\
  #OVERLAY
\*-----------------------------------*/

.overlay.active{
    z-index: 10;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(87, 87, 87, 0.231),rgba(133, 139, 142, 0.281)); 
}

.main-container{  
    height: 100%;
    width: 100%;
    transition: filter .7s .4s ease-in;
}
.main-container.blur{
    filter: blur(2px);
}

@keyframes blur {
    to{
        filter: blur(2px);
    }
}

.modal{ 
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 4;
    width: 100%; 
    overflow: hidden;
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    justify-content: center; 
    transition: 1.5s ease;
}

.modal.active{
    opacity: 1;
    visibility: visible;
}
.modal-close-overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(188, 188, 255, 0.735) ,rgba(188, 188, 255, 0.735));
    overflow-x: hidden;
    height: 100vh;
    width: 100%; 
    visibility: hidden;
    opacity: 0;
}

.modal-close-overlay.active{  
    animation: fadeout 1.5s ease 0s forwards;
}

@keyframes fadeout {
    to{ 
        visibility: visible;
        opacity: 1;
    }
}
.newsletter-img{
    display: none;
}

.modal-content{ 
    position: relative;
    padding: 20px 15px 15px 0px;
    scroll-margin-block: auto;
    border-radius: 5px;
    width: 280px; 
    opacity: 0;
    transform: translateX(-110%);
    background-color: rgb(255, 255, 255);
    animation: scaleUp 1s .5s ease-in-out forwards;
}
@keyframes scaleUp {
    0%{ 
        transform: translateX(-30%);

    }  
    100%{ 
        transform: translateX(0%);
        opacity: 1;
    }
}
.modal-close-btn{
    position: absolute;
    width: 12px;
    height: 12px;
    top: 7px;
    right: 10px;
    border-radius: 50%;
    background-color:var(--salmon-pink);
}
.modal-close-btn:hover{
    background-color: var(--salmon-pink-dark);
}
.newsletter{
    padding: 8px;
    text-align: center; 
}
.newsletter-header{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.newsletter-title{
    font-size: 20px;  
    line-height: 25px;
    text-transform: capitalize;
}

.newsletter-desc{ 
    width: 90%;
    margin-top: 8px;
    font-size: 13px;
}

.social-media{  
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: left; 
    gap: 5px;
    flex-wrap: wrap;
    display: grid;
    gap: 10px; 
    font-size: 13px;
} 

.social-media .social-item{
    display: flex;  
    margin-left: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.social-media .social-item span{
    text-transform: capitalize;
    color: var(--davys-gray);
}


.btn-newsletter{
    margin-top: 15px;
    margin-inline: auto;
    padding: 6px 15px;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--salmon-pink);
   display: none;
}

 

.main-container .brand-header{ 
    /* position: -webkit-sticky;
    z-index: 5;
    position: sticky;
    top: 0px;
    padding: 5px; */
    text-align: center;
    letter-spacing: 3px;
    font-size: 1.1rem;
    background-color: white; 
    font-weight: bolder;
    font-family: 'Cooper Black';
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px 1px gray;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: playlistscript;
    align-content: center;
}

.main-container .brand-header .img{
    width: 30px;
    aspect-ratio: 1/1;
   height: 30px;
}

.main-container .brand-header img{
   width: 100%;
   height: 100;
   object-fit: contain; 
}

.header-banner{ 
    margin-top: 15px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    display: flex; 
    width: 95%;
    margin-inline: auto;
}

.header-banner img{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-banner .desc{ 
    position: absolute;
    background-image: linear-gradient(to bottom,rgba(233, 233, 233, 0.656),rgba(255, 255, 255, 0.746));
    margin-inline: auto; 
    padding: 10px;
    left: 10%;
    right: 10%;
    padding-inline: 23px;
    font-family: jully_juliaregular;
    word-spacing: 4px;
    letter-spacing: 2px;
    top: 25%; 
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize; 
}



.mobile-bottom-menu{
    position: fixed;
    z-index: 15;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 0px;
    padding-top: 9px;
    text-transform: uppercase;
    bottom: 0;
    box-shadow: 0px 0px 10px 1px gray;
}
.mobile-bottom-menu .action-btn{
    position: relative;
    padding: 4px 6px;
    padding-top: 9px; 
}

.mobile-bottom-menu ion-icon{
    font-size: 25px;
    --ionicon-stroke-width: 20px;
}

.mobile-bottom-menu .count{
    border-radius: 50%;
    position: absolute;
    top: -8px;
    font-size: 14px;
    background-color: rgb(26, 251, 71);
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    right: -4px;
}
.categorie{
    padding: 10px;
}

.categorie-container{
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}
 
.categorie-item img{
    height: 100%;
    object-fit: contain;
}

.categorie-item { 
    scroll-snap-align: start;
    flex:1 0 100%;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
    display: flex;
    gap: 10px; 
    padding: 10px;
    border-radius: 5px;
   border: solid 1px var(--cultured);
}

.categorie-item .desc {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
}


.categorie-item .desc .title{  
    display: flex; 
    justify-content: space-between;
    text-transform: capitalize;
}

.categorie-item .desc .title span:nth-child(2){
    color: var(--spanish-gray);
}
.categorie-item .desc a{
    color: var(--salmon-pink);
}

.products{
    height: 100%; 
    margin-top: 20px;
    padding: 10px;
}
.products h3{
    font-family: jully_juliaregular;
    text-transform: capitalize;
    color: var(--eerie-black);
    text-align: center;
    font-size: 17px;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: solid 1px var(--cultured);
}
.products-container{ 
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr; 
    justify-content: center;
    gap: 25px; 
    padding-bottom: 90px;
}

.product-item {
    scroll-snap-align: start;
    border: solid 1px var(--cultured);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 15px;
    position: relative;
    min-height: 430px; 
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.product-item:hover{
    box-shadow: 0px 0px 10px 1px rgb(227, 227, 227);

}
.product-item .imgs{ 
    flex: 1; 
    width: 100%; 
    height: 100%;
    overflow: hidden;
    position: relative; 
    aspect-ratio: 3/3;
}

.product-item  img{
    height: 100%;
    width: 100%; 
    object-fit: cover; 
}

.product-item  img.default{
    z-index: 1;
    position: relative;
    transition: 1s ease;

}
 

.product-item  img.hover { 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0; 
    transition: 1s ease;
}
.product-item:hover img.default{
    opacity: 0;
}

.product-item:hover .imgs{
    transition: .4s ease;
    transform: scale(1.06)  ;
}
.product-item:hover  img.hover{
    opacity: 1;
}

.product-item .description{  
    text-transform: capitalize; 
    display: grid;
    gap: 3px;
    width: 85%;
    margin-inline: auto;
}

.product-item .description .categorie{
    margin: 0;
    margin-bottom: -3px;
    padding: 0;
    color: var(--salmon-pink);
    font-size: 1.2rem;
}

.product-item .description .name{
    overflow: hidden;
    width: 100%;
    color: var(--spanish-gray);
    text-overflow: ellipsis;
}

.product-item .description .price{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.product-item .actions{
    top: 10px;
    right: 10px;
    position: absolute;
    display: grid;
    gap: 6px; 
}

.product-item .actions button{ 
    padding: 5px;
    border-radius: 5px;
     z-index: 3; 
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(201, 201, 201);
}
 